@model ElectionWeb.Candidate

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreelectionProgram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreelectionProgram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Election)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Election.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
